.gpt3-whatGPT {
    position: relative;
    top: 27rem;
    background-image: linear-gradient(to top, #4711c7 0%, #ca2e9e 100%);
    padding: 2rem 4rem;
    margin: 0 3rem;
}
.gpt-what {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.gpt-what-h2 {
    font-size: 13px;
    color: #fff;
    /* margin-top: -50px; */
    padding: 2.5rem;
    font-family: 'Manrope';
   
}
.gpt-what-p {
    font-size: 13px;
    color: #fff;
    padding: 1rem 3rem;
    font-family: 'Manrope';
    width: 20rem;
}

.gpt3-possibility {
    display: flex;
    justify-content: space-between;
}
.gpt-possibility-h1 {
    font-size: 15px;
    width: 25rem;
    padding: 2.5rem;
    font-family: 'Manrope';
}
.gpt-possibility-h4 {
    padding: 2.5rem;
    font-family: 'Manrope';
    font-size: 16px;
}
.gpt3-last-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem;
}
.gpt-last-section-h3 {
    padding: 1.5rem;
}
.gpt-last-section-h3 h3 {
    font-size: 17px;
    color: #fff;
    font-family: 'Manrope';
    letter-spacing: 2px;
}
.gpt-last-section-h3 p {
    width: 15rem;
    color: #fff;
    font-family: 'Manrope';
 line-height: 15px;
    font-size: 14px;
    opacity: 0.6;
}
@media screen and (max-width:550px) {
    .gpt3-whatGPT {
        padding: 0;
        top: 11rem;
    }
    .gpt-what {
        justify-content: flex-start;
        flex-direction: column;
      align-items: flex-start;
    }
    .gpt-what-h2 {
        padding: 1.5rem;
        text-align: left;
    }
    .gpt-what-p {
        text-align: left;
        font-size: 12px;
        width: 10rem;
        padding: 1.5rem;
    }
    .gpt3-possibility {
        justify-content: flex-start;
        flex-direction: column;
      align-items: flex-start;
    }
    .gpt-possibility-h1 {
        font-size: 14px;
        width: 10rem;
    }
    .gpt3-last-section {
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }
}
@media screen and (max-width:290px) {
    .gpt-what-p p {
        font-size: 10px;     
    }
    .gpt-possibility-h1 h1 {
        width: 6rem;
        font-size: 20px;
    }
    .gpt-possibility-h4 h4 {
        font-size: 12px;
    }
    .gpt-last-section-h3 h3 {
        font-size: 12px;
    }
    .gpt-last-section-h3 p {
       font-size: 13px;
    }
}